.card {
    overflow: hidden;
    min-height: 500px;

    .card-inner {
        position: relative;
        margin: 0 auto;
    }

    .info {
        width: 350px;
        position: absolute;
        right: 0;
        top: 0;
        margin-top: 40px;

        p {
            margin: 40px 0;
        }
    }

    img {
        max-width: 240px;
    }
}



@media only screen and (max-width: 680px) {
.card {

    // img, .info {
    //     display: block;
    // }

    max-height: 600px;

    img, .info {
        position: static;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .info {
        @media only screen and (max-width: 430px) {
            width: 100%;
        }
    }
    img {
        position: static;
    }

    // $img-ratio: 242 / 500; // image height is 242px when width is 500px
    // $img-width: 450px;

    // img {
    //     width: $img-width;
    //     margin: 0 auto;
    //     top: 0;
    //     position: absolute;
    //     left: 50%;
    //     margin-left: -($img-width / 2) - 2px; // adding a little offset
    // }

    // .info {
    //     position: static;
    //     max-width: 400px;
    //     margin-left: auto;
    //     margin-right: auto;
    //     // margin-top: ($img-width * $img-ratio) + 25px;
    //     width: 100%;
    // }
}
}