.card {
    overflow: hidden;
    max-height: 350px;

    .card-inner {
        position: relative;
        margin: 0 auto;
    }

    .info {
        width: 350px;
        position: absolute;
        right: 0;
        top: 0;

        p {
            margin: 40px 0;
        }
    }

    img {
        position: relative;
        top: -40px;
        max-width: 240px;
    }
}



@media only screen and (max-width: 680px) {
.card {
    max-height: 600px;

    img, .info {
        position: static;
        float: none;
        display: block;
        margin: 0 auto;
    }
    .info {
        width: 100%;
    }
    img {
        position: static;
    }
}
}