
.closet {
    min-height: 370px;
    padding-top: 60px;

    .closet-inner {
        position: relative;
        margin: 0 auto;
    }

    .info {
        float: left;
        width: 400px;



        p {
            margin: 20px 0;
        }
    }

    img {
        position: absolute;
        top: 20px;
        right: 0;
        width: 250px;
    }
}


@media only screen and (max-width: 725px) {
.closet {
    min-height: 400px;
    .info {
        width: 300px;
    }
}
}


@media only screen and (max-width: 640px) {
.closet {
    padding-top: 60px;
    padding-bottom: 40px;

    img, .info {
        float: none;
        display: block;
        margin: 0 auto;
    }
    .info {
        width: 100%;
    }
    img {
        position: static;
        margin-top: 40px;
    }
}
}