@import "compass/reset";
@import "compass/css3";
@import "compass/css3/user-interface";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800);

html, body {
  height: 100%;
}


html {
  width: 100%;
  min-width: 300px;
  font-size: 10px;
}


/* Typography
------------------------------------------------------------ */
body {
  color: #222;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;


/* General layout
------------------------------------------------------------ */

  a {
    text-decoration: none;
    font-weight: 700;
  }

  p > a {
    padding: 0 0 1px;
    color: #f7b802;

    &:hover {
      border-bottom: 1px dotted #f7b802;
    }
  }

  article {
    margin: 0 auto;
    padding: 50px 25px 100px;
    width: 900px;
  }

  h2 {
    margin: 50px 0;

    color: #aaa;
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: 0.2rem;
    text-align: center;
    text-transform: uppercase;
  }

  p, blockquote, article header {
    font-size: 1.3rem;
    letter-spacing: 0.1rem;
    line-height: 2.5rem;
  }

  article header {
    margin-bottom: 2rem;
  }

  .centered {
    margin: 0 auto;
    width: 600px;

    text-align: center;
  }

  b {
    font-weight: 700;
  }

  blockquote {
    font-size: 1.3rem;
    padding: 0 20px 25px;
    width: 400px;
    display: inline-block;
    vertical-align: top;

    footer {
      color: #999;
      margin-top: 5px;

      &:before {
        content: '— ';
      }
    }
  }


/* Splash
------------------------------------------------------------ */
  .splash {
    position: relative;
    height: 100%;
    background: #111b1d;

    .logo {
      position: absolute;
      top: 150px;
      margin-left: -45px;
      left: 50%;
      width: 90px;
    }

    h2 {
      position: absolute;
      margin: 325px 0 0;
      width: 100%;

      color: #fff;
      font-size: 1.7rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
      text-align: center;
      text-transform: none;
    }
  }


/* Sign Up
------------------------------------------------------------ */
  .signup {
    position: absolute;
    z-index: 1;
    width: 100%;
    background: #eee;

    img {
      position: absolute;
      left: 50%;
      margin: 34px -450px;
      width: 50px;
    }

    form {
      margin: 0 auto;
      width: 500px;
      overflow: hidden;
    }

    input {
      @include border-radius(2px);
      padding: 16px 95px 15px 18px;
      position: relative;
      width: 100%;
      float: left;
      margin: 33px 0;
      background: #fff;
      box-sizing: border-box;
      border: 1px solid #fff;

      font-family: 'Open Sans', Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      font-size: 1.5rem;
    }

    input:focus {
      outline: none;
    }

    textarea {
      height: 150px;
      resize: none;
    }

    button {
      position: relative;
      margin: 39px 0 0 -91px;
      padding: 13px 15px;
      width: 85px;
      background: #fdc524;
      border: none;
      border-radius: 2px;

      color: #222;
      font-size: 1.2rem;
      font-weight: 600;
      text-align: center;

      &:hover {
        background: lighten(#fdc524, 5%);
        cursor: pointer;
      }

      &:active {
        background: darken(#fdc524, 5%);
        @include box-shadow(inset 0 2px 2px 0 rgba(100, 100, 100, 0.1));
      }
    }
  }


/* Intro
------------------------------------------------------------ */
  .intro {
    height: 500px;
    border-top: 1px dotted #ededed;
    overflow: hidden;

    h2 {
      color: #aaa;
      font-size: 1.3rem;
      font-weight: 700;
      letter-spacing: 0.2rem;
      text-align: left;
      text-transform: uppercase;
    }

    p {
      position: relative;
      margin: 100px 0;
      width: 350px;
    }

    .hmmm {
      position: relative;
      z-index: -1;
      top: -425px;
      left: 500px;
    }

    .newsletter {
      position: relative;
      z-index: -1;
      top: -275px;
      left: 450px;
    }
  }

  .first {
    padding: 119px 0 0; // this should be illegal

    p {
      margin-top: 0;
    }
  }


/* Tag
------------------------------------------------------------ */
  .tag {
    height: 175px;
    border-top: 1px dotted #ededed;
    border-bottom: 1px dotted #ededed;

    h2 {
      margin: 0;

      color: #222;
      font-size: 2.5rem;
      font-weight: 300;
      letter-spacing: 0.1rem;
      line-height: 175px;
      text-transform: none;
    }
  }


/* Consumer
------------------------------------------------------------ */
  .consumer {
    height: 400px;

    article {
      position: absolute;
      left: 50%;
      margin: 0 -375px;
      width: 700px;
    }

    .left {
      position: absolute;
      left: 0;
      width: 360px;
    }

    .right {
      position: absolute;
      right: 0;
      width: 360px;
    }
  }


/* Retailer
------------------------------------------------------------ */
  .retailer {
    text-align: center;

    img {
      width: 900px;
    }
  }


/* Referral
------------------------------------------------------------ */
  .referral {}


/* Featured
------------------------------------------------------------ */
  .featured {
    height: 175px;
    border-top: 1px dotted #ededed;
    border-bottom: 1px dotted #ededed;
    text-align: center;

    .featured-logo {
      display: inline-block;
      height: 100%;
      @include opacity(0.6);
      @include transition(opacity 0.3s);

      &:hover {
        @include opacity(1);
      }
    }

    img {
      width: 200px;
      vertical-align: top;
    }

    .tc {
      margin: 70px 25px 0;
    }

    .fw {
      margin: 62px 25px 0;
    }
  }


/* Team
------------------------------------------------------------ */
  .team {
    height: 500px;

    a, a:hover {
      border: none;

      color: #00a0d1;
      font-weight: 400;
    }

    .team-member {
      margin: 0 0 50px 50px;
      float: left;
      width: 250px;

      font-size: 1.3rem;

      img {
        float: left;
        width: 65px;
        border-radius: 100%;
      }

      article {
        float: left;
        padding: 5px 25px;
        width: 125px;

        h3 {
          font-weight: 700;
        }

        h4 {
          margin: 5px 0 0;
          color: #999;
        }
      }
    }
  }


/* Footer
------------------------------------------------------------ */
  & > footer {
    float: left;
    width: 100%;
    height: 250px;
    background: #fff;

    text-align: center;

    a, a:hover {
      padding: 12px 19px 14px 20px;
      border: none;
      border-radius: 2px;
      background: #57ad68;

      color: #fff;
      font-size: 1.3rem;
      line-height: 100px;

      &:hover {
        background: lighten(#57ad68, 5%);
        cursor: pointer;
      }

      &:active {
        background: darken(#57ad68, 5%);
        @include box-shadow(inset 0 2px 2px 0 rgba(100, 100, 100, 0.1));
      }
    }
  }
}

